<nav>
    <ul class="nav">
        <li><a href="@Url.Action("GioiThieu", "Home")" style="color: darkblue">Tổng quan</a></li>
        <li><a href="@Url.Action("DieuKien", "GioiThieu")" style="color: darkblue;">Điều kiện & điều khoản</a></li>
        <li><a href="@Url.Action("QuyChe", "GioiThieu")" style="color: darkblue;">Quy chế hoạt động</a></li>
        <li><a href="@Url.Action("RiengTu", "GioiThieu")" style="color: darkblue;">Chính sách riêng tư</a></li>
        <li><a href="@Url.Action("BaoMat", "GioiThieu")" style="color: darkblue;">Chính sách bảo mật</a></li>
    </ul>
</nav>
<style>
    a:active {
        font-weight: bold;
        color: orange!important;
    }
</style>
